<nav class="sidebar-school-details" >
  <div role="region" class="widget-pane-content-holder">
    <div tabindex="-1" class="section-listbox section-listbox-root">
      <div class="section-hero-header">
        <div class="widget-pane-clear" style="display:none"></div>
        <!-- button to display/hide the school details -->
        <!--<button class="section-hero-header-display-hide" (click)="toggleSchoolDetails()">
          <div class="section-hero-header-display-hide-base" style="padding: 18px">
            <i class="fa fa-arrow-left section-hero-header-display-hide-icon"></i>
          </div>
        </button>-->
        <div class="section-hero-header-description">
          <div>
            <h1 class="section-hero-header-title" id="no-entidad">{{NO_ENTIDAD}}</h1>
          </div>
          <div class="section-hero-header-subtitle"></div>
        </div>
      </div>

      <div class="section-divider" style="height: 20px"></div>
      <div class="section-info">
        <div>
          <div class="section-info-line">
            <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-2x fa-home"></span>
            <span class="section-info-text">
              <span>{{NOMEMUN}} - {{SIGLA}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="section-divider" style="height: 7px"></div>
      <div class="section-info">
        <div class="section-info-line">
          <span role="img" class="section-info-icon fa fa-fw fa-2x fa-map-marker"></span>
          <span class="section-info-text">{{ENDERECO}}, {{NUMERO}}</span>
        </div>
        <div class="section-info-secondary-text section-info-secondary-text-newline">{{BAIRRO}}, {{NOMEMUN}} - {{SIGLA}}</div>
        <div class="section-info-secondary-text section-info-secondary-text-newline">{{CEP}}</div>
      </div>
      <div class="section-divider" style="height: 7px"></div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-2x fa-group"></span>
          <!--Dependência Administrativa-->
          <span class="section-info-text">{{Dependad}}</span>
        </div>
      </div>
      <div class="section-divider" style="height: 7px"></div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-2x fa-check-circle-o"></span>
          <!--Status:-->
          <span class="section-info-text">{{DESC_SITUACAO_FUNCIONAMENTO}}</span>
        </div>
      </div>
      <div class="section-divider" style="height: 7px"></div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-2x fa-phone"></span>
          <span class="section-info-text">{{DDD}} {{TELEFONE}}</span>
        </div>
      </div>

      <div class="section-divider" style="height: 10px"></div>
      <div class="section-info-line">
        <h5 style="text-transform: capitalize">Instalações:</h5>
      </div>
      <div class="section-divider" style="height: 10px"></div>

      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Biblioteca:</b></div>
          <span class="section-info-text">{{ID_BIBLIOTECA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Lab. de Informática:</b></div>
          <span class="section-info-text">{{ID_LABORATORIO_INFORMATICA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Ranking:</b></div>
          <span class="section-info-text">{{ID_QUADRA_ESPORTES_COBERTA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Avaliação pública:</b></div>
          <span class="section-info-text">{{ID_QUADRA_ESPORTES_DESCOBERTA}}</span>
        </div>
      </div>

      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Latitude:</b></div>
          <span class="section-info-text">{{LOCATION.LAT}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>Longitude:</b></div>
          <span class="section-info-text">{{LOCATION.LON}}</span>
        </div>
      </div>
      <div class="section-divider" style="height: 10px; "></div>
      <div style="background: none; width: 100%; text-align: center;">
        <button type="button" class="btn btn-dark btn-sm bg-dark"
                data-toggle="modal" data-target="#exampleModal"
        >
          <i id="toggle-settings-icon" class="fa fa-2x fa-commenting-o fa-fw"></i> Deixe seu comentário
        </button>
      </div>
    </div>

  </div>
</nav>

<!-- MODAL: COMENTÁRIO -->
<div class="modal fade" id="exampleModal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deixe seu comentário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- modal body -->
      <div class="modal-body">
        <form >
          <!-- Base Layers -->
          <div class="form-group row">
            <label for="nomeUser" class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nomeUser" placeholder="Nome completo">
            </div>

          </div>
          <div class="form-group row">
            <label for="cpfUser" class="col-sm-2 col-form-label">CPF:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="cpfUser" placeholder="cpf">
            </div>
          </div>
          <div class="form-group row">
            <label for="emailUser" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="emailUser" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="comentarioUser" class="col-sm-2 col-form-label">Coment.:</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="comentarioUser" aria-describedby="comentarioHelp" rows="3"></textarea>
              <small id="comentarioHelp" class="form-text text-muted">Inserir um comentário</small>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label" >Avaliação:</label>
            <div  class="col-sm-10" style="text-align:center; width:100%;">
              <i class="fa fa-2x fa-star-o"></i>
              <i class="fa fa-2x fa-star-o"></i>
              <i class="fa fa-2x fa-star-o"></i>
              <i class="fa fa-2x fa-star-o"></i>
              <i class="fa fa-2x fa-star-o"></i>
            </div>
          </div>
        </form>
      </div>
      <!-- end modal body -->
      <div class="modal-footer" style="background: none;">
        <button type="button" class="btn btn-secondary bg-secondary" data-dismiss="modal">
          <i  class="fa fa-fw fa-close"></i> Fechar
        </button>
        <button type="button" class="btn btn-primary bg-primary" (click)="onApply()">
          <i  class="fa fa-fw fa-check"></i> Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL: COMENTÁRIO -->
