agm-map {
  height: 100%;
  width: 100%;
}

.map-container {
  background-color: #ffffff;
  padding-bottom: 2px;
  margin: 2px 0px 0px;
  height: calc(100vh - 68px);
  height: -moz-calc(100vh - 68px);
  height: -webkit-calc(100vh - 68px);
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.section-action-button-icon {
  margin: 0px auto;
  position: relative;
}

.btn-toggle-schooldetails {
  border: 2px solid rgba(0,0,0,.7);
  left: 1px;
  top: 1px;
  width: auto;
  height: 55px;
  padding: 0px;
  position: absolute;
  z-index: 401;
}

@media screen and (max-width: 575px) {
  .btn-toggle-schooldetails {
    height: 51px;
  }
}

/* Search module */
ng2-completer {
  width:100%;
  font-size: 12px;
}

:host>>> .completer-holder {
  /*width:100% !important;*/
  max-height: 34px;
  margin : 0 auto!important;
  width: 500px!important;
}

:host>>> .completer-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

:host>>> .completer-dropdown-holder {
  display: block;
  width: 100%;
  font-size: 10px;
}
:host>>> .completer-dropdown {
  overflow-y: auto;
  max-height: 300px;
  overflow-x: hidden;
  background-color: rgba(255,255,255,0.9)!important;
  width: 100%!important;
  position: relative!important;
  margin-top: 0px!important;/*-16px*/
  font-size: inherit;
}

:host>>> .completer-row {
  margin-bottom: 2px!important;
}

:host>>> .completer-image-holder {
  float: left!important;
  width: 14px!important;/*10%*/
}

:host>>> .completer-item-text-image {
  float: none!important;
  width: 100%!important;/*90%*/
  margin-left: 38px!important;
}

:host>>> .completer-description {
  font-size: inherit!important;
}

:host>>> .completer-image-default {
  width: 14px!important;
  height: 14px!important;
  /*background-image: url('../../../../assets/images/marcador_school_default.png');*/
}
/* End Search Module*/
